POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="db"
DB_HOST="localhost"
DB_PORT="5432"
PGADMIN_SETUP_EMAIL="email@mail.mail"
PGADMIN_SETUP_PASSWORD="password"
PGADMIN_CONFIG_CONFIG_DATABASE_URI="'postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_PORT}/${POSTGRES_DB}?sslmode=disable'"
MIGRATE_DATABASE_URI="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_PORT}/${POSTGRES_DB}?sslmode=disable"