POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
DB_HOST=""
DB_PORT=""
PGADMIN_SETUP_EMAIL=""
PGADMIN_SETUP_PASSWORD=""
PGADMIN_CONFIG_CONFIG_DATABASE_URI="'postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_HOST}/${POSTGRES_DB}?sslmode=disable'"
MIGRATE_DATABASE_URI="postgres://parking:parking@db:5432/parking?sslmode=disable"